Test-Command: g++
 $(dpkg-buildflags --get CPPFLAGS)
 $(dpkg-buildflags --get CXXFLAGS)
 $(dpkg-buildflags --get LDFALGS)
 examples/quickstart/quickstart.cpp -lsimdjson -o quickstart;
 cd jsonexamples/; ../quickstart
Depends: build-essential, g++, @
Restrictions: allow-stderr
